@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    font-family: Quicksand, sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

/* headings */

h1 {
    font-size: 200%;
}


h1,
h2 {
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

#main-heading {
    margin-top: 7%;
    margin-bottom: 0;
}

#secondary-heading {
    margin-top: 2%;
    margin-bottom: 7%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    margin: 10px;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    margin-top: 15px;
    text-align: right;
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding: 5px;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

nav ul {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-bottom: 5%;
}

/* center introduction */

.introduction-wrapper {
    width: 90%;
    margin: auto;
}

.introduction-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    width: 90%;
}

.introduction-box {
    flex: 1;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background-image: url('../images/alessiomida.jpg');
    height: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#introduction-text {
    padding: 5%;
    text-align: justify;
}

.quotation-container {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-top: 5%;
    width: 90%;
}

.quotation-container p {
    padding: 0 5%;
}

/* footer */

footer {
    height: 150px;
}

footer ul {
    text-align: center;
}

footer li {
    display: inline;
}

footer i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: black;
}

/* Photography gallery */

.gallery-heading {
    text-align: left;
    padding-left: 3%;
}

.gallery-container {
    max-width: 100%;
    padding-inline: 3rem;
    min-height: fit-content;
    /*border: 1px solid red;*/
    margin: 0 3%;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
    /*border: 1px solid green;*/
}

.gallery-images {
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    justify-self: center;
    /*border: 1px solid blue;*/
}

/* storytelling */

#stories-introduction {
    text-align: justify;
    padding: 3%;
}

.stories-wrapper {
    width: 100%;
}

.stories-container {
    display: flex;
    justify-content: center;
}

.story-images {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.stories {
    width: 100%;
    text-align: justify;
    padding: 2%;
    max-width: 400px;
    flex: 1 1 300px;
}

/* media queries */

@media screen and (max-width: 1330px) {

    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:950px) {

    .introduction-flex-container {
        flex-direction: column;
    }

    .gallery-heading {
        text-align: center;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: 0 auto;
    }

    .gallery-images {
        height: 300px;
        aspect-ratio: 1;
        object-fit: cover;
    }

    .stories-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 730px) {

    .gallery-container {
        max-width: 100%;
        margin: auto;
        justify-items: center;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .gallery-images {
        height: 300px;
        aspect-ratio: 1;
        object-fit: cover;
        overflow: hidden;
    }
}

@media screen and (max-width:550px) {

    nav ul {
        flex-direction: column;
        padding-bottom: 5%;
    }
}