@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
}

/* headings */
h1,
h2 {
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;

}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* center introduction container */

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin-left: 300px;
}